<?xml version="1.0" encoding="UTF-8"?>
<Configuration  monitorInterval="30" packages="">
	<Properties>
		<Property name="filename">C:/home/logs/app.log</Property>
	</Properties>
	<Filter type="ThresholdFilter" level="trace"/>
	
	<Appenders>
  
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %msg%n%rEx{full}"/>
		</Console>
		<RollingFile name="RollingFile" fileName="${filename}" filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="250 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="20"/>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="Console"/>
		</Root>
		<Logger name="ErrorLogger" level="error" additivity="false">
			<AppenderRef ref="RollingFile"/>
		</Logger>
	</Loggers>
</Configuration>
