@CHARSET "UTF-8";

.appHeader .x-panel-body {
	background-color: transparent;
	/* background-image: url(../images/Shape-Cube-24.png); */
	background-repeat: no-repeat;
	background-position: 2px 2px;
	padding: 5px 0px 0px 30px;
	border: none;
	color: white;
	font-size: 22px;
	font-weight: 200;
	white-space: nowrap;
}